@font-face {
    font-family: 'Inter';
    src: local('Inter'), url('./assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

* {
    font-family: 'Inter';
}

#react-portal-wrapper {
    pointer-events: none;
}
